section.direct
	.container
		.direct-box
			.direct-img
				img(src="img/doc.png", alt="doc")
			.direct-content
				h2.direct-ttl Dr. Andrew Campbell
				.direct-sub-ttl CEO „myMycoLAB“
				p My name is Dr. Andrew Campbell, and I want to fix the broken medical establishment.

				p You’re here searching for answers. You want a beacon of light, a trusted voice in the wilderness to help navigate the confusing healthcare landscape and give you direction. You may be skeptical of the mainstream medical community, controlled by pharmaceutical companies and insurance lobbyists. I don’t blame you.

				p Patients deserve better care, more respect, and attention. A physician more concerned about you, than about turning a profit. A doctor who takes the time to understand your nutrition and lifestyle habits, gets to the source of your symptoms, and cares more about your safety than pumping you with drugs for personal gain. Someone who probes like a detective until they figure out the underlying cause of your pain and suffering.