section.poll
    .poll-formula.js-poll-formula
    .container
        .poll-box
            .poll-content
                h2.poll-ttl Frequently asked questions
                ul.poll-list
                    li
                        a(href="") What are masked mycotoxins?
                    li
                        a(href="") Why do masked mycotoxins escape established analytical techniques?
                    li
                        a(href="") Why analyze several mycotoxins simultaneously?
                    li
                        a(href="") What is the relation between mycotoxins and the Sick Building Syndrome?
                    li
                        a(href="") What role does immunoassays serve in mycotoxin analysis?
        
                a.btn.btn-poll(href="frequently.html") 
                    span See all questions








