section.testing
	.container
		.testing-box
			.testing-block
				h2.testing-ttl Mycotoxin 
					br
					| Testing 
					br
					| Solutions
				.testing-txt Mycotoxins are naturally occurring toxic substances produced by soil-borne molds that infect field, tree, or vine grown crops. Crops exposed to environmental stressors before harvest or to conditions conducive to mold growth during storage are particularly vulnerable to mycotoxin contamination. Processing often fails to reduce contamination levels and can even increase the concentration of mycotoxins in finished products.

section.paper
	.paper-formula.js-paper-formula
	.container
		.paper-content
			p All homes and buildings contain molds or fungi. Out of the over 50,000 different species of mold, only 200 present serious health risks to humans or animals. These harmful species are known as “Toxic Molds” and produce potentially hazardous mycotoxins that can cause many medical conditions, including cancer.

			p Where conditions are right, fungi proliferate into colonies and mycotoxin levels become high. Toxins vary greatly in their severity. Some fungi produce severe toxins only at specific levels of moisture, temperature or oxygen in the air. Some toxins are lethal, some cause identifiable diseases or health problems, some weaken the immune system without producing symptoms specific to that toxin, some act as allergens or irritants, and some have no known effect on humans.

			p The RealTime Labs offers the largest test panel of Mycotoxins with 15 of the most common mycotoxins detected. Learn more about these molds, the mycotoxins they generate and the adverse health conditions they can contribute to.

			p Aflatoxins are the most toxic and potent hepato-carcinogenic natural compounds ever characterized. There are four major Aflatoxins: B1, B2, G1, G2. Aflatoxin B1 is the most potent carcinogen and is the major mycotoxin produced by A. flavus. Aflatoxin’s reputation as a potent toxin may explain why it has been adopted for use in bioterrorism. There is substantial evidence that Iraq stockpiled aflatoxin to be delivered in missiles.

			p Health Effects: In addition to the carcinogenic effect of aflatoxins, A. flavus is the second leading cause of invasive aspergillosis in immunocompromised patients. Particularly common clinical syndromes associated with A. flavus include: chronic granulomatous sinusitis, keratitis, cutaneous aspergillosis, wound infections and osteomyelitis following trauma and inoculation.

			p Epidemiological studies implicate aflatoxins in food as the causative agent for liver cancer. There is no other natural product in which the 	data on human carcinogenicity is so compelling. The International Agency for Research on Cancer has classified aflatoxin B1 as a group I carcinogen.

