section.tizer
    .tizer-plax-top.js-tizer-plax-top
    .tizer-plax-bottom.js-tizer-plax-bot
    .container
        .tizer-wrap
            .tizer-box.clearfix
                .preview
                    h1.preview-ttl Mycotoxin Testing
                    .preview-txt
                        p Mycotoxins are secondary metabolites of molds, contaminating a wide range of crop plants and fruits. Such contaminated crops are toxic to humans and animals, and hence, a major health issue for the consumer.
                    a.preview-link(href="") Learn more about mycotoxins

                .tizer-form
                    .tizer-form-wrap
                        .form-box
                            .form-ttl Order a test now!
                            .form-sub-ttl It's easy, fast and safe
                            form.form
                                .form-field-box
                                    input(type="text" placeholder="Your nickname")
                                .form-field-box.form-field-box-margin-bot-none
                                    input(type="text" placeholder="Email")
                                .form-inform
                                    span.icon.icon-inform
                                    .form-inform-txt 
                                        span We use your email only to  notify you that the test is completed
                                    .form-policy Lern more about our 
                                        a(href="") privacy policy
    
                                    button.btn.btn-send(type="submit") Order a test 
    
                                .test Already ordered a test?
                                    a.js-check-modal(href="#check-modal") Check result

                .tizer-blog 
                    .blog
                        .blog-ttl Blog
                        .blog-inform
                            a.blog-item(href="")
                                .blog-img   
                                    img(src="img/tizer-blog-1.jpg", alt="blog")
                                .blog-content
                                    h3.blog-content-ttl Do I Have Toxic Mold Poisoning?
                                    .blog-content-txt Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, 
                            a.blog-item(href="")
                                .blog-img   
                                    img(src="img/tizer-blog-2.jpg", alt="blog")
                                .blog-content
                                    h3.blog-content-ttl Are Molds and Mycotoxins Airborne?
                                    .blog-content-txt Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
                            a.blog-item(href="")
                                .blog-img   
                                    img(src="img/tizer-blog-3.jpg", alt="blog")
                                .blog-content
                                    h3.blog-content-ttl How Do I Get Tested For Mycotoxins?
                                    .blog-content-txt Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt,

                    a.blog-download-link(href="") All blog entries

                .tizer-video
                    .video-ttl Toxins and Inflammation - 
                        span Dr. Andrew Campbell
                    .vodeo-box
                        .vodeo-cap
                            .video-img
                                img(src="img/tizer-video-bg.jpg", alt="video")
                            .video-content
                                .icon.icon-youtube
                                .video-sub-ttl TODAY at 
                                    span 7:00 PM



