header#header.header
    .container
        .header-box
            a.logo.header-logo(href="")
                img.logo-img-form(src="img/logo.png", alt="logo")
                img.logo-img-solo(src="img/logo3.png", alt="logo")
            .hamburger.hamburger--spin.js-hamburger
                .hamburger-box
                    .hamburger-inner
            include ../parts/nav.pug
            