#check-modal.modal
    .form-ttl Enter your personal code
    .form-sub-ttl  Lorem ipsum dolor sit amet
    form.form
        .form-field-box.form-field-box-margin-bot
            input(type="text" name="code" placeholder="Your special order code" maxlength="24")

        button.btn.btn-send(type="submit") Send

