.nav-box
	.container
		nav.nav
			ul.nav-list
				li.nav-iltem
					a(href="") Home 
				li.nav-iltem
					a(href="") About us
				li.nav-iltem
					a(href="") Individuals
				li.nav-iltem
					a(href="") Physicians
				li.nav-iltem
					a(href="") Knowledge Center
				li.nav-iltem
					a(href="") Blog
				li.nav-iltem
					a(href="") Contact